@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<M1Assignment1.Models.Student>
@{
    ViewData["Title"] = Model.FirstOrDefault().Course;
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h2>Students list in @Model.FirstOrDefault().Course Class</h2>
    <table>
        <tr>
            @* //StudentId, First Name, Last Name, Email address, and Phone number. *@
            <td>Student Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email address</td>
            <td>Phone number</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.StudentId </td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.EmailAddress</td>
                <td>@item.PhoneNumber</td>
            </tr>
        }
    </table>
</body>
</html>